html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #DB381B;
    padding-bottom: 150px;
}

header {
	text-align: center;
}

h1 {
	font-weight: bold;
	font-size: 1.5rem;
}

aside {
	padding-bottom: 1em;
	text-align: center;
}

img {
	max-width: 60%;
	height: auto;
}

ul {
	padding-left: 0;
	list-style-type: none;
	cursor: pointer;
}

li {
	background-color: #17A598;
	padding: 1em 2em;
	margin-left: 1em;
	margin-bottom: 1em;
	border-radius: 0.4em;
	box-shadow: 2px 5px 18px #888888;
	display: inline-block;
	color: white;
	font-weight: bold;
	cursor: pointer;
	width: 15%;
}

.container {
	text-align: center;
}

article {

}

form {
	text-align: center;
	background-color: #D5D8C8;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	color: grey;
}
form::after {
	content: "";
	background-image: url("../img/pozz.png");
	background-repeat: repeat;
	opacity: 0.05;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: relative;
	z-index: -1;

}

.labels {
	width: 50%;
	margin: auto;
	text-align: right;
}

label {
	display: inline-block;
	height: 30px;
}

input {
	width: 60%;
	height: 25px;
	border-radius: 0.4rem;
}

button {
	padding: 0.5rem 1rem;
	margin: 2rem 2rem;
	width: 110px;
	border-radius: 0.2rem 0.8rem;
	color: white;
	border: none;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

#resetButton {
	background-color: #DB381B;
}

#admin {
	background-color: #F3A346;
}

#cancel {
	background-color: #EF551F;
}

button[type="submit"] {
	background-color: #17A598;
}

button:hover {
	box-shadow: none;
}

button:active {
	color: grey;
}

@media screen and (max-width: 750px) {

	body {
		height: 100%;
		padding-bottom: 300px;
	}

	button {
		padding: 0.5rem 1rem;
		margin: 1rem 2rem;
		width: 110px;
		border-radius: 0.2rem 0.8rem;
		color: white;
		border: none;
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	}
	.labels {
		width: 100%;
		margin: auto;
		text-align: center;
		border: solid red 1px;
	}

	label {
		display: block;
	}

	input {
		width: 80%;
	}
}

@media screen and (max-width: 650px) {

	h1 {
		font-size: 2rem;
	}
	li {
		margin: auto;
		width: 80%;
		display: block;
		padding: 0.7em 0;
		margin-bottom: 0.5em;
		border-radius: 0.8em;
	}
}